body {
    background: #3aaea8;
    color: #def2f1;
    font-family: 'Roboto', sans-serif;
}

/*font-family: 'Monoton', cursive;*/
/*font-family: 'Roboto', sans-serif; 300/400*/

main {
    background: linear-gradient(-45deg, #17252a, #225156, #3aaea8, #3ac9c3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.navbar {
    border-bottom: 1px solid #def2f1;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, .10);
    backdrop-filter: blur(5px);
}
.navbar-toggler-icon {
    color: #def2f1;
    font-size: 1.5rem;
    padding-top: 0.45rem;
}
.nav-item{
    color: #def2f1;
}
.nav-item:hover {
    color: #3aafa9;
    text-shadow: 1px 1px 2px #225156;
    text-decoration: none;
}
.bg-gradient {
    padding: 5rem 0;
}
footer {
    border-top: 1px solid #def2f1;
}
hr {
    border: none;
    border-top: 1px solid #def2f1;
    overflow: visible;
    text-align: center;
    height: 2rem;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
hr:after {
    /*content: 'projects';*/
    padding: 0 4px;
    position: relative;
    top: 0.5rem;
}
.technology , .main-title{
    color: rgb(23,37,42);
    text-shadow: 1px 1px 2px #3aafa9;
}
.footer-links {
    list-style-type: none;
    margin: 1rem 0;
}
.pink-link {
    font-size: 1.2rem;
    color: #ff0051;
    letter-spacing: 1px;
}
.pink-link:hover {
    text-decoration: none;
    color: #ff0051;
    text-shadow: 1px 1px 2px #ff0051;
}
.main-section {
    margin-top: 5rem;
    letter-spacing: 3px;
    font-weight: 300;
}
.main-title {
    font-weight: 400;
    font-size: 2rem;
}
.description {
    letter-spacing: 2px;
    font-weight: 300;
}


